@charset "utf-8";
h1, h2, h3 {
  font-weight: normal;
}

.yu_go {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

.roboto {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  min-width: 320px;
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}

.fadein {
  opacity: 0;
  transform: translate(0, 50px);
  transition: all 3000ms;
}

.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

/* メトリクスfont-feature-settings: "palt" 1; */

/* header */

@media screen and (max-width:320px) {
  img {
    max-width: 320px;
  }
}

@media screen and (max-width:767px) {
  img {
    max-width: 100%;
  }
  .header img {
    width: 90%;
  }
  .header {
    text-align: center;
    margin-top: 110px;
  }
  .photo {
    margin-top: 40px;
  }
}

@media screen and (min-width:768px) {
  .header {
    margin-top: 210px;
    text-align: center;
  }
  .header img {
    width: 40%;
  }
  body .photo {
    margin-top: 40px;
  }
  /* .headp_first {
    font-size: 36px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.04em;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  }
  .head_pcimg {
    width: 100%;
    display: inline;
  }
  .head_spimg {
    display: none;
  }
  .headp_second {
    font-size: 43px;
    line-height: 1.6;
    letter-spacing: 0.04em;
    text-align: center;
    display: inline;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  }
  .headp_third {
    margin-top: 15px;
    position: relative;
    letter-spacing: 0.04em;
    font-size: 33px;
    font-family: 'Open Sans', sans-serif;
  }
  .headp_third::before {
    content: '';
    position: absolute;
    bottom: 0;
    max-width: 89px;
    width: 100%;
    height: 2px;
    background-color: #000;
  } */
}

/* /header */

/* section */

/* staff1 */

.beg {
  color: #d4c5ab;
}

.brw {
  color: #9d4934;
}

.blu {
  color: #b6c3d6;
}

@media screen and (max-width:767px) {
  .pcimg {
    display: none;
  }
  .pcbr {
    display: none;
  }
  .staff_block_1 {
    text-align: center;
    margin-top: 100px;
  }
  .staff {
    position: relative;
    vertical-align: 6px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.06em;
    display: inline;
    border-bottom: solid #000 3px;
    padding-bottom: 2px;
  }
  h1 {
    font-size: 37px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.06em;
    display: inline;
  }
  h2 {
    margin-top: 20px;
    font-size: 26px;
    letter-spacing: 0.05em;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  }
  /* ____↑↑↑staff_block_1/staff_block_2↓↓↓___ */
  .staff_block_2 {
    text-align: center;
  }
  /* ____↑↑↑staff_block_2/staff_block_3↓↓↓___ */
  .staff_block_3 {
    width: 90%;
    text-align: center;
    margin: auto;
  }
  h3 {
    margin-top: 20px;
    font-size: 16px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    letter-spacing: 0.05em;
  }
  .price {
    padding-top: 16px;
    letter-spacing: 0.1em;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
  }
  .color {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }
  .color span {
    padding: 0 15px;
    font-size: 14px;
    letter-spacing: 0.1em;
    font-family: 'Open Sans', sans-serif;
  }
  .color i {
    font-size: 1.3em;
    vertical-align: -2px;
    padding-right: 10px;
  }
  .staff_block_3 .descri {
    text-align: left;
    margin-top: 20px;
    display: inline-block;
  }
  .spimg02 {
    text-align: right;
  }
  .spimg03 {
    margin-top: 20px;
  }
  .price_descrisp {
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    font-feature-settings: "palt" 1;
  }
  .price_descripc {
    display: none;
  }
  .staff2img_pc {
    display: none;
  }
  .descri {
    font-size: 15px;
    line-height: 1.7rem;
    letter-spacing: 0.05em;
  }
}

@media screen and (min-width:768px) {
  .spimg {
    display: none;
  }
  .box {
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 130px auto 0;
  }
  .pattern1 .staff_block_1 {
    order: 2;
  }
  .staff_block_1 {
    width: 400px;
    text-align: center;
  }
  .staff {
    position: relative;
    vertical-align: 6px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.06em;
    display: inline;
    border-bottom: solid #000 3px;
    padding-bottom: 2px;
  }
  h1 {
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.06em;
    display: inline;
  }
  h2 {
    padding-top: 15px;
    font-size: 24px;
    letter-spacing: 0.05em;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  }
  /* ____↑↑↑staff_block_1/staff_block_2↓↓↓___ */
  .pattern1 .staff_block_2 {
    order: 1;
  }
  .staff_block_2 {
    margin-top: -60px;
  }
  /* ____↑↑↑staff_block_2/staff_block_3↓↓↓___ */
  .pattern1 .staff_block_3 {
    order: 3;
    margin-left: auto;
  }
  .staff_block_3 {
    width: 400px;
    text-align: center;
    margin-top: -270px;
  }
  h3 {
    font-size: 16px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  }
  .price {
    margin-top: 10px;
    letter-spacing: 0.1em;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
  }
  .color {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }
  .color span {
    padding: 0 15px;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-family: 'Open Sans', sans-serif;
  }
  .color i {
    font-size: 1.3em;
    vertical-align: -2px;
    padding-right: 7px;
  }
  .staff1_photo {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: auto;
  }
  .pcimg02 {
    order: 3;
  }
  .staff1img_pc {
    order: 2;
    width: 10%;
  }
  .pcimg03 {
    order: 1;
    margin-top: 110px;
  }
  .staff1_photo img {
    width: 100%;
  }
  .price_descripc {
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    letter-spacing: 0.1em;
    margin-top: 10px;
    line-height: 1.5rem;
  }
  .price_descrisp {
    display: none;
  }
  .descri {
    margin-top: 20px;
    font-size: 14px;
  }
  /* .huku{
        margin-top: ;
    } */
}

/* /staff1 */

/* staff2 */

.owht {
  color: #fcf6ed;
}

.ppl {
  color: #72629b;
}

@media screen and (max-width:767px) {
  .staff2_photo {
    text-align: center;
  }
  .spimg06 {
    margin-top: 25px;
  }
  .pattern2_contents {
    z-index: 1000;
  }
  .pattern2_box {
    position: relative;
    width: 100%;
  }
  .pattern2_bgc1 {
    position: absolute;
    right: 0;
    top: 250px;
    width: 60%;
    height: 35%;
    /* max-height: 750px; */
    background-color: #e5dafe;
    z-index: -10;
  }
  .pattern2_bgc2 {
    position: absolute;
    left: 0;
    top: 1050px;
    width: 73%;
    height: 49%;
    /* max-height: 850px; */
    background-color: #e5dafe;
    z-index: -10;
  }
}

@media screen and (min-width:768px) {
  .pattern2 .staff_block_1 {
    order: 1;
  }
  .pattern2 .staff_block_2 {
    order: 2;
  }
  .pattern2 .staff_block_3 {
    order: 3;
    margin-right: auto;
  }
  .staff2_photo {
    display: flex;
    margin: auto;
    width: 70%;
    justify-content: space-between;
  }
  .staff2_photo img {
    width: 100%;
  }
  .staff2img_pc {
    width: 10%;
  }
  .pcimg06 {
    align-self: center;
    display: inline;
  }
  .pattern2_contents {
    z-index: 1000;
  }
  html .pattern2_box {
    position: relative;
    width: 100%;
  }
  .pattern2_bgc1 {
    position: absolute;
    right: 0;
    top: 150px;
    width: 60%;
    height: 35%;
    /* max-height: 750px; */
    background-color: #e5dafe;
    z-index: -10;
  }
  .pattern2_bgc2 {
    position: absolute;
    left: 0;
    top: 600px;
    width: 58%;
    height: 49%;
    /* max-height: 850px; */
    background-color: #e5dafe;
    z-index: -10;
  }
}

/* /staff2*/

/* staff3 */

.yel {
  color: #f7efa9;
}

.beg2 {
  color: #d4c5ab;
}

.ppl2 {
  color: #b7425e;
}

@media screen and (max-width:767px) {
  .spimg08 {
    text-align: center;
  }
  .pattern3_contents {
    z-index: 1000;
  }
  .pattern3_box {
    position: relative;
    width: 100%;
  }
  .pattern3_bgc{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 400px;
    width: 90%;
    height: 55%;
    /* max-height: 750px; */
    background-color: #fff6e6;
    z-index: -10;
  }
}

@media screen and (min-width:768px) {
  .pattern3 .staff_block_1 {
    order: 2;
  }
  .pattern3 .staff_block_2 {
    order: 1;
  }
  .pattern3 .staff_block_3 {
    order: 3;
    margin-left: auto;
  }
  .staff3_photo {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .staff3_photo img {
    width: 100%;
  }
  .staff3_photo .price_descripc {
    text-align: left;
  }
  .pattern3_contents {
    z-index: 1000;
  }
  .pattern3_box {
    position: relative;
    width: 100%;
  }
  .pattern3_bgc{
    position: absolute;
    right: 0;
    top: 230px;
    width: 53%;
    height: 80%;
    /* max-height: 750px; */
    background-color: #fff6e6;
    z-index: -10;
  }
}

/* /staff3*/

/* staff4 */

.owht2 {
  color: #fcf6ed;
}

.mnt {
  color: #d8d7bc;
}

@media screen and (max-width:767px) {
  .spimg11 {
    text-align: right;
    margin-top: 25px;
  }
}

@media screen and (min-width:768px) {
  .pcimg11 {
    margin-top: 115px;
  }
  .staff4img_pc {
    width: 10%;
  }
}

/* /staff4*/

/* staff5 */

@media screen and (max-width:767px) {
  .staff5_photo {
    margin: 40px 5% 0;
  }
  .spimg13 {
    text-align: right;
  }
  .spimg14 {
    margin-top: 25px;
  }
}

@media screen and (min-width:768px) {
  .staff5_photo {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
  }
  .staff5_photo img {
    width: 100%;
  }
  .pcimg13 {
    order: 3;
  }
  .staff5img_pc {
    order: 2;
    width: 10%;
  }
  .pcimg14 {
    order: 1;
  }
}

/* /staff5*/

/* /section */

/* footmenu */

@media screen and (max-width:767px) {
  .checkallitems {
    background-color: #fff;
    margin: 100px auto 0;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: 90%;
    max-width: 435px;
    letter-spacing: 0.05em;
    font-feature-settings: "palt" 1;
    font-size: 30px;
    line-height: 6rem;
  }
  .backnumber a {
    color: #000;
  }
  .backnumber p {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 600;
    margin: 45px 25px 600px;
    width: 135px;
    border-bottom: #000 2px solid;
    padding-bottom: 10px;
    letter-spacing: 0.04em;
    background-image: url('/img/triangle.svg');
    background-position: center right 10px;
    background-repeat: no-repeat;
    background-size: 7%;
    padding-right: 20px;
  }
  .backnumber {
    margin: 0 auto;
    width: 320px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width:768px) {
  .checkallitems {
    background-color: #fff;
    margin: 100px auto 0;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: 435px;
    letter-spacing: 0.04em;
    font-feature-settings: "palt" 1;
    font-size: 25px;
    line-height: 5rem;
  }
  .backnumber a {
    color: #000;
  }
  .backnumber p {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 600;
    margin: 45px 30px 600px;
    width: 135px;
    border-bottom: #000 2px solid;
    padding-bottom: 5px;
    letter-spacing: 0.04em;
    background-image: url('/img/triangle.svg');
    background-position: center right 10px;
    background-repeat: no-repeat;
    background-size: 7%;
    padding-right: 20px;
  }
  .backnumber {
    margin: 0 auto;
    width: 320px;
    display: flex;
    justify-content: center;
  }
}